@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

.container {
  margin: 0% 20%; }

.sticky {
  margin-top: -43px;
  position: fixed;
  min-height: 100px;
  z-index: 1; }

.margin {
  margin-top: 100px; }

.row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 2px;
  border: none;
  background-color: #00b1e4;
  width: 130px;
  margin-left: calc(50% - 65px);
  margin-bottom: 50px; }

.scale:hover {
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transform: scale(1.3) !important;
  -ms-transform: scale(1.3) !important;
  transform: scale(1.3) !important;
  color: #00b1e4;
  cursor: pointer; }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 768px) and (min-resolution: 192dpi) {
  .container {
    margin: 0% 3%; }
  .sticky {
    margin-top: -100px;
    position: fixed;
    min-height: 200px;
    z-index: 1;
    margin-left: -5%; }
  .row {
    width: 200px;
    margin-left: calc(50% - 100px); } }

body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

.navBar {
  font-family: "Raleway", sans-serif; }

.welcome {
  font-family: "Raleway", sans-serif; }

.aboutUs p {
  font-family: "Montserrat", sans-serif; }

.services p {
  font-family: "Montserrat", sans-serif; }

.portfolio p {
  font-family: "Montserrat", sans-serif; }

.contact p {
  font-family: "Montserrat", sans-serif; }

#navBarWrapper {
  -webkit-box-shadow: 0 50px 30px -30px gray;
  box-shadow: 0 50px 30px -30px gray;
  height: 100px;
  background-color: white; }
  #navBarWrapper .navBar {
    padding-top: 30px;
    margin: 0% 20% 0% 20%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #navBarWrapper .navBar .logo a {
      text-decoration: none; }
    #navBarWrapper .navBar .logo h1 {
      color: #00b1e4;
      font-size: 1.7em; }
      #navBarWrapper .navBar .logo h1 span {
        color: #071e33;
        font-size: 0.9em; }
    #navBarWrapper .navBar .logo:hover {
      cursor: pointer; }
    #navBarWrapper .navBar .elements {
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 0.9em; }
      #navBarWrapper .navBar .elements .active {
        color: #00b1e4; }
      #navBarWrapper .navBar .elements a {
        text-decoration: none;
        font-weight: bold;
        color: #555555;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s; }
      #navBarWrapper .navBar .elements a:hover {
        color: #00b1e4; }
      #navBarWrapper .navBar .elements li {
        padding-top: 10px;
        padding-left: 25px; }
    #navBarWrapper .navBar .dropdown {
      position: relative;
      margin-right: 10px; }
      #navBarWrapper .navBar .dropdown .dropbtn {
        background-color: white;
        color: #555555;
        border: none;
        font-weight: bold;
        font-size: 1em;
        cursor: pointer; }
      #navBarWrapper .navBar .dropdown .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1; }
        #navBarWrapper .navBar .dropdown .dropdown-content a {
          font-size: 0.9em;
          color: #555555;
          padding: 12px 16px;
          text-decoration: none;
          display: block; }
          #navBarWrapper .navBar .dropdown .dropdown-content a:hover {
            color: #00b1e4; }
      #navBarWrapper .navBar .dropdown:hover .dropdown-content {
        display: block; }
      #navBarWrapper .navBar .dropdown:hover .dropbtn {
        -webkit-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
        transition: color 0.5s ease;
        background-color: white;
        color: #00b1e4; }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 768px) and (min-resolution: 192dpi) {
  #navBarWrapper {
    height: 200px;
    width: 100%;
    margin-left: 0%; }
    #navBarWrapper .navBar .logo {
      font-size: 3em;
      display: block; }
    #navBarWrapper .navBar .elements {
      display: none; } }

.topBar {
  background-color: #071e33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 5px;
  height: 37px;
  font-size: 15px;
  padding: 3px 20%; }
  .topBar i {
    color: #00b1e4;
    padding: 10px; }
  .topBar .left .contactInfo {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .topBar .left .contactInfo li {
      color: #00b1e4; }
      .topBar .left .contactInfo li span {
        color: #a0a3a9;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s; }
      .topBar .left .contactInfo li span:hover {
        color: #00b1e4;
        cursor: pointer; }
  .topBar .right .fab {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .topBar .right .socialMedia {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .topBar .right .fab:hover {
    color: white;
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 768px) and (min-resolution: 192dpi) {
  .topBar {
    display: none; } }

.welcome {
  margin-bottom: 3%; }
  .welcome h1 {
    text-align: center;
    font-size: 2em;
    color: #071e33;
    margin: 3% 0px 1% 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .welcome .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .welcome .wrap .rightText p {
      color: #555555;
      padding-bottom: 25px; }
      .welcome .wrap .rightText p strong {
        font-size: 1em; }
    .welcome .wrap .rightText .italicText {
      font-weight: lighter;
      font-style: italic;
      font-size: 1.04em; }
    .welcome .wrap .rightText ul {
      list-style-type: none; }
      .welcome .wrap .rightText ul li {
        margin: 5px;
        color: #555555; }
        .welcome .wrap .rightText ul li i {
          color: #00b1e4; }
    .welcome .wrap .leftImage img {
      height: 350px;
      width: 550px; }
  .welcome .welcomeText {
    padding-bottom: 3%;
    text-align: center;
    color: #555555; }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 768px) and (min-resolution: 192dpi) {
  .welcome {
    margin-top: 10%; }
    .welcome h1 {
      font-size: 5em; }
    .welcome .wrap {
      display: block; }
      .welcome .wrap .leftImage {
        text-align: center; }
      .welcome .wrap .rightText {
        font-size: 2em;
        text-align: center; }
        .welcome .wrap .rightText i {
          margin-right: 30px; }
        .welcome .wrap .rightText p {
          display: none; }
    .welcome .welcomeText {
      font-size: 2em; } }

.clients {
  margin-bottom: 5%; }
  .clients h1 {
    text-align: center;
    font-size: 2em;
    color: #071e33;
    margin: 3% 0px 1% 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .clients p {
    color: #555555;
    text-align: center; }

.clients-images {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .clients-images img {
    opacity: .7;
    height: 50px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    .clients-images img:hover {
      opacity: 1;
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      cursor: pointer; }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 768px) and (min-resolution: 192dpi) {
  .clients h1 {
    margin-top: 10%;
    font-size: 4em; }
  .clients p {
    font-size: 2em;
    margin-bottom: 4%; } }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 768px) and (min-resolution: 192dpi) {
  .clients-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .clients-images img {
      opacity: 1;
      height: 80px;
      margin-left: 20%;
      margin-bottom: 20%; }
  .clients-images > div {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%; }
  .client-images > div:first-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%; } }

.container .testimonials {
  margin-bottom: 10%; }
  .container .testimonials h1 {
    text-align: center;
    font-size: 2em;
    color: #071e33;
    margin: 3% 0px 1% 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .container .testimonials p {
    color: #555555;
    text-align: center;
    padding-bottom: 3%; }
  .container .testimonials .wrapper {
    font-family: "Open Sans", sans-serif;
    font-size: .9em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .container .testimonials .wrapper .textbox {
      margin: 20px;
      height: 135px;
      width: 280px; }
      .container .testimonials .wrapper .textbox .text {
        font-weight: 500;
        font-style: italic;
        padding: 30px;
        background-color: #f1f1f1;
        color: #555555;
        border: 1px solid #dcdcdc;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px; }
      .container .testimonials .wrapper .textbox h3 {
        margin: 10px 0px;
        text-align: center; }
      .container .testimonials .wrapper .textbox .title {
        text-align: center;
        color: #a0a3a9; }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 768px) and (min-resolution: 192dpi) {
  .container .testimonials h1 {
    font-size: 6em; }
  .container .testimonials p {
    font-size: 2em; }
  .container .testimonials .wrapper {
    display: block; }
    .container .testimonials .wrapper .textbox {
      margin: 100px;
      font-size: 2em;
      width: 80%;
      margin-bottom: 80%; }
      .container .testimonials .wrapper .textbox h3 {
        font-size: 2em; } }

.getOurService {
  background-color: #00b1e4;
  padding: 3.5% 20%;
  color: white; }
  .getOurService .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .getOurService h1 {
    margin-bottom: 2%; }
  .getOurService .wrap #btn {
    margin-left: 13%;
    height: 45px;
    width: 160px;
    color: white;
    background-color: #00b1e4;
    font-weight: 600;
    font-size: 1.1em;
    border: 2px solid white;
    border-radius: 5px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .getOurService .wrap #btn:hover {
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    -webkit-transition: color 0.5 ease;
    -o-transition: color 0.5 ease;
    transition: color 0.5 ease;
    background-color: white;
    color: #00b1e4;
    border: 2px solid white;
    cursor: pointer; }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 768px) and (min-resolution: 192dpi) {
  .getOurService h1 {
    font-size: 3em;
    padding-top: 2%;
    text-align: center;
    margin-bottom: 5%; }
  .getOurService .wrapper {
    display: block; }
    .getOurService .wrapper .wrap #btn {
      -webkit-appearance: none;
      margin-left: 70%;
      height: 90px;
      width: 320px;
      font-size: 2em; }
    .getOurService .wrapper .wrap p {
      display: none; } }

.footer {
  font-size: 0.8em;
  padding: 10px;
  text-align: center;
  background-color: #071e33;
  height: 100px; }
  .footer footer .copyright {
    color: #a0a3a9;
    padding-top: 20px; }
    .footer footer .copyright span {
      font-size: 1.2em;
      font-weight: bold;
      color: #a0a3a9; }
  .footer footer p {
    color: #a0a3a9; }
    .footer footer p span {
      font-size: 1.2em;
      color: #00b1e4;
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s; }
      .footer footer p span:hover {
        cursor: pointer;
        color: white; }
  .footer .buttonUp {
    float: right; }
    .footer .buttonUp button {
      border-radius: 3px;
      height: 40px;
      width: 40px;
      color: white;
      background-color: #00b1e4;
      border: none;
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s; }
      .footer .buttonUp button:hover {
        background-color: #0c2e8a;
        cursor: pointer;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2); }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 768px) and (min-resolution: 192dpi) {
  .footer {
    font-size: 1.4em;
    height: 140px; } }

.ourServices h1 {
  text-align: center;
  font-size: 2em;
  color: #071e33;
  margin: 3% 0px 1% 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.ourServices p {
  color: #555555;
  text-align: center; }

.ourServices .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .ourServices .wrap .marketing, .ourServices .wrap .consulting, .ourServices .wrap .strategy {
    border: 1px solid #DCDCDC;
    height: 300px;
    text-align: center;
    padding-top: 30px;
    margin: 30px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    padding: 10px; }
    .ourServices .wrap .marketing:hover, .ourServices .wrap .consulting:hover, .ourServices .wrap .strategy:hover {
      -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
      -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      transform: translateY(-15px);
      cursor: pointer; }
  .ourServices .wrap h3 {
    padding: 15px 0px; }

.ourServices img {
  height: 90px;
  width: 125px; }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 768px) and (min-resolution: 192dpi) {
  .ourServices {
    padding: 5%;
    background-color: #dff3fa; }
    .ourServices h1 {
      font-size: 5em; }
    .ourServices p {
      font-size: 2em; }
    .ourServices .wrap {
      display: block;
      margin-left: 15%; }
      .ourServices .wrap .marketing, .ourServices .wrap .consulting, .ourServices .wrap .strategy {
        border: 1px solid #555555;
        min-height: 600px;
        padding-top: 30px;
        margin: 50px;
        padding: 10px;
        font-size: 1.5em;
        margin-bottom: 5%;
        margin-left: -8%; } }

.inspire {
  background-image: url(../images/intro-carousel/1.jpg);
  height: 680px; }
  .inspire h1 {
    color: #071e33;
    font-size: 4em;
    padding-left: 13%;
    padding-top: 12%; }
  .inspire h3 {
    color: #555555;
    font-size: 1.5em;
    font-weight: 400;
    padding-left: 13%;
    margin-bottom: 2%; }
  .inspire #btn {
    margin-left: 13%;
    height: 45px;
    width: 160px;
    color: white;
    background-color: #00b1e4;
    font-weight: 500;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s; }
  .inspire #btn:hover {
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    -webkit-transition: color 0.5 ease;
    -o-transition: color 0.5 ease;
    transition: color 0.5 ease;
    background-color: #dff3fa;
    color: #00b1e4;
    border: 2px solid #00b1e4;
    cursor: pointer; }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 768px) and (min-resolution: 192dpi) {
  .inspire {
    background-color: #dff3fa;
    background-image: url();
    width: 100%;
    text-align: center; }
    .inspire h1 {
      font-size: 8em;
      padding-bottom: 50px; }
    .inspire h3 {
      font-size: 3em;
      margin-left: -6%; }
    .inspire #btn {
      font-size: 2em;
      height: 90px;
      width: 320px;
      -webkit-appearance: none;
      margin-top: 50px; } }

.aboutUs {
  background-color: #00b1e4;
  padding: 2%;
  text-align: center;
  font-size: 1.2em; }
  .aboutUs h1 {
    color: white; }
  .aboutUs p {
    color: white; }

.container .ourTeam h1 {
  text-align: center;
  font-size: 2em;
  color: #071e33;
  margin: 3% 0px 1% 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.container .ourTeam .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container .ourTeam .wrapper .wrap img {
    height: 250px;
    margin-left: 25px; }
  .container .ourTeam .wrapper .wrap h3 {
    color: #071e33;
    text-align: center; }
  .container .ourTeam .wrapper .wrap p {
    color: #071e33;
    font-style: italic;
    text-align: center; }
  .container .ourTeam .wrapper .wrap .socialMediaWrap {
    margin: 25px; }
    .container .ourTeam .wrapper .wrap .socialMediaWrap .socialMedia {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      list-style-type: none; }
      .container .ourTeam .wrapper .wrap .socialMediaWrap .socialMedia li {
        background-color: #f1f1f1;
        color: #00b1e4;
        height: 30px;
        width: 30px;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        border: 1px solid #00b1e4; }
        .container .ourTeam .wrapper .wrap .socialMediaWrap .socialMedia li:hover {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
          color: #071e33;
          border: 1px solid #071e33;
          cursor: pointer; }
        .container .ourTeam .wrapper .wrap .socialMediaWrap .socialMedia li a {
          height: 30px;
          width: 30px; }
          .container .ourTeam .wrapper .wrap .socialMediaWrap .socialMedia li a i {
            margin: 25%; }

.aboutWelcome {
  margin: 4% 0px; }
  .aboutWelcome .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .aboutWelcome .wrap .rightText p {
      font-size: 1.1em;
      color: black;
      padding-bottom: 25px; }
      .aboutWelcome .wrap .rightText p strong {
        font-size: 1em; }
    .aboutWelcome .wrap .rightText .light {
      color: #555555; }
    .aboutWelcome .wrap .rightText .italicText {
      font-weight: lighter;
      font-style: italic;
      font-size: 1.14em;
      font-family: "Montserrat", sans-serif;
      color: #a0a3a9; }
    .aboutWelcome .wrap .rightText ul {
      list-style-type: none; }
      .aboutWelcome .wrap .rightText ul li {
        margin: 5px;
        color: #555555; }
        .aboutWelcome .wrap .rightText ul li i {
          color: #00b1e4; }
    .aboutWelcome .wrap .leftImage img {
      height: 350px;
      width: 550px; }
  .aboutWelcome .welcomeText {
    padding-bottom: 3%;
    text-align: center;
    color: #555555; }

.services {
  background-color: #00b1e4;
  padding: 2%;
  text-align: center;
  font-size: 1.2em; }
  .services h1 {
    color: white; }
  .services p {
    color: white; }

.ourServicesServices {
  margin: 0 10%; }
  .ourServicesServices .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .ourServicesServices .wrapper .wrap {
      border: 1px solid #DCDCDC;
      height: 300px;
      text-align: center;
      padding-top: 30px;
      margin: 30px;
      width: 350px;
      color: #555555;
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s; }
      .ourServicesServices .wrapper .wrap h3 {
        padding: 15px;
        color: #555555; }
      .ourServicesServices .wrapper .wrap .icon {
        color: #00b1e4;
        font-size: 5em; }
      .ourServicesServices .wrapper .wrap:hover {
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
        cursor: pointer; }

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 3%; }
  .gallery .wrapper .wrap img {
    height: 297px;
    width: 443px;
    padding: 2px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
    .gallery .wrapper .wrap img:hover {
      cursor: pointer;
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }

.container .portflioText p {
  text-align: center;
  padding-top: 4%;
  color: #555555; }

.portfolio {
  background-color: #00b1e4;
  padding: 2%;
  text-align: center;
  font-size: 1.2em; }
  .portfolio h1 {
    color: white; }
  .portfolio p {
    color: white; }

.contact {
  background-color: #00b1e4;
  padding: 2%;
  text-align: center;
  font-size: 1.2em; }
  .contact h1 {
    color: white; }
  .contact p {
    color: white; }

.container .contactText {
  color: #555555;
  text-align: center;
  margin: 4%; }

.wrapper {
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .wrapper .wrapLeft {
    min-width: 50%; }
    .wrapper .wrapLeft .address, .wrapper .wrapLeft .phone, .wrapper .wrapLeft .email {
      padding-bottom: 10px;
      font-size: .9em; }
      .wrapper .wrapLeft .address p.bold, .wrapper .wrapLeft .phone p.bold, .wrapper .wrapLeft .email p.bold {
        font-size: 1.1em;
        color: #1c4450;
        font-weight: bold;
        padding-bottom: 20px; }
        .wrapper .wrapLeft .address p.bold i, .wrapper .wrapLeft .phone p.bold i, .wrapper .wrapLeft .email p.bold i {
          color: #00b1e4;
          font-size: 1.1em; }
  .wrapper .wrapRight .contact-us .email,
  .wrapper .wrapRight .contact-us .name {
    width: 605px;
    height: 45px;
    margin-bottom: 15px; }
  .wrapper .wrapRight .contact-us .textBox {
    width: 605px;
    height: 240px;
    margin-bottom: 15px; }
  .wrapper .wrapRight .sendBtn {
    float: right;
    border: none;
    border-radius: 3px;
    height: 45px;
    width: 100px;
    color: white;
    background-color: #00b1e4;
    font-size: 1.1em; }
    .wrapper .wrapRight .sendBtn:hover {
      -webkit-transition: color 0.5s ease;
      -o-transition: color 0.5s ease;
      transition: color 0.5s ease;
      background-color: white;
      border: 2px solid #00b1e4;
      color: #00b1e4;
      cursor: pointer; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
