@charset "UTF-8";
@-webkit-keyframes transition-animation-in {
  from {
    top: 0px; }
  to {
    top: -15px; } }
@keyframes transition-animation-in {
  from {
    top: 0px; }
  to {
    top: -15px; } }

@-webkit-keyframes transition-animation-out {
  from {
    top: -15px; }
  to {
    top: 0px; } }

@keyframes transition-animation-out {
  from {
    top: -15px; }
  to {
    top: 0px; } }

* {
  margin: 0px;
  padding: 0px; }

.container {
  margin: 0% 20%; }

body {
  font-family: "Montserrat", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

.topBar {
  font-family: "Open Sans", sans-serif; }

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2% 0%; }
  .navBar .logo h1 {
    color: #00b1e4;
    font-size: 1.7em; }
    .navBar .logo h1 span {
      color: #071e33;
      font-size: 0.9em; }
  .navBar .elements {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.9em; }
    .navBar .elements .active {
      color: #00b1e4; }
    .navBar .elements a {
      text-decoration: none;
      font-weight: bold;
      color: #555555; }
    .navBar .elements a:hover {
      -webkit-transition: color 0.5s ease;
      -o-transition: color 0.5s ease;
      transition: color 0.5s ease;
      color: #00b1e4; }
    .navBar .elements li {
      padding-top: 10px;
      padding-left: 25px; }

.dropdown {
  position: relative;
  margin-right: 10px; }
  .dropdown .dropbtn {
    background-color: white;
    color: #555555;
    border: none;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer; }
  .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1; }
    .dropdown .dropdown-content a {
      font-size: 0.9em;
      color: #555555;
      padding: 12px 16px;
      text-decoration: none;
      display: block; }
      .dropdown .dropdown-content a:hover {
        color: #00b1e4; }
  .dropdown:hover .dropdown-content {
    display: block; }
  .dropdown:hover .dropbtn {
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
    background-color: white;
    color: #00b1e4; }

.topBar {
  background-color: #071e33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 5px;
  height: 37px;
  font-size: 15px;
  padding: 3px 20%; }
  .topBar i {
    color: #00b1e4;
    padding: 10px; }
  .topBar .left .contactInfo {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .topBar .left .contactInfo li {
      color: #00b1e4; }
      .topBar .left .contactInfo li span {
        color: #a0a3a9; }
      .topBar .left .contactInfo li span:hover {
        -webkit-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
        transition: color 0.5s ease;
        color: #00b1e4;
        cursor: pointer; }
  .topBar .right .socialMedia {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .topBar .right .fab:hover {
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
    color: white;
    cursor: pointer; }

.welcome {
  margin-bottom: 3%; }
  .welcome h1 {
    text-align: center;
    font-size: 2em;
    color: #071e33;
    margin: 3% 0px 1% 0px; }
  .welcome .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 2px;
    border: none;
    background-color: #00b1e4;
    width: 110px;
    margin: 0px 0px 30px 47%; }
  .welcome .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .welcome .wrap .rightText p {
      color: #555555;
      padding-bottom: 25px; }
      .welcome .wrap .rightText p strong {
        font-size: 1em; }
    .welcome .wrap .rightText .italicText {
      font-weight: lighter;
      font-style: italic;
      font-size: 1.04em; }
    .welcome .wrap .rightText ul {
      list-style-type: none; }
      .welcome .wrap .rightText ul li {
        margin: 5px;
        color: #555555; }
        .welcome .wrap .rightText ul li i {
          color: #00b1e4; }
    .welcome .wrap .leftImage img {
      height: 350px;
      width: 550px; }
  .welcome .welcomeText {
    padding-bottom: 3%;
    text-align: center;
    color: #555555; }

.clients {
  margin-bottom: 5%; }
  .clients h1 {
    text-align: center;
    font-size: 2em;
    color: #071e33;
    margin: 3% 0px 1% 0px; }
  .clients .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 2px;
    border: none;
    background-color: #00b1e4;
    width: 110px;
    margin: 0px 0px 30px 45%; }
  .clients p {
    color: #555555;
    text-align: center; }

.clients-images {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .clients-images img {
    opacity: .7; }
    .clients-images img:hover {
      opacity: 1; }

.container .testimonials {
  margin-bottom: 10%; }
  .container .testimonials h1 {
    text-align: center;
    font-size: 2em;
    color: #071e33;
    margin: 3% 0px 1% 0px; }
  .container .testimonials .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 2px;
    border: none;
    background-color: #00b1e4;
    width: 110px;
    margin: 0px 0px 30px 47%; }
  .container .testimonials p {
    color: #555555;
    text-align: center;
    padding-bottom: 3%; }
  .container .testimonials .wrapper {
    font-family: "Open Sans", sans-serif;
    font-size: .9em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .container .testimonials .wrapper .textbox {
      margin: 20px;
      height: 135px;
      width: 280px; }
      .container .testimonials .wrapper .textbox .text {
        font-weight: 500;
        font-style: italic;
        padding: 30px;
        background-color: #f1f1f1;
        color: #555555;
        border: 1px solid #dcdcdc;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px; }
      .container .testimonials .wrapper .textbox h3 {
        margin: 10px 0px;
        text-align: center; }
      .container .testimonials .wrapper .textbox .title {
        text-align: center;
        color: #a0a3a9; }

.getOurService {
  background-color: #00b1e4;
  padding: 3.5% 20%;
  color: white; }
  .getOurService .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .getOurService h1 {
    margin-bottom: 2%; }
  .getOurService .wrap #btn {
    margin-left: 13%;
    height: 45px;
    width: 160px;
    color: white;
    background-color: #00b1e4;
    font-weight: 600;
    font-size: 1.1em;
    border: 2px solid white;
    border-radius: 5px; }
  .getOurService .wrap #btn:hover {
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    -webkit-transition: color 0.5 ease;
    -o-transition: color 0.5 ease;
    transition: color 0.5 ease;
    background-color: white;
    color: #00b1e4;
    border: 2px solid white;
    cursor: pointer; }

.footer {
  font-size: 0.8em;
  padding: 10px;
  text-align: center;
  background-color: #071e33;
  height: 100px; }
  .footer footer .copyright {
    color: #a0a3a9;
    padding-top: 20px; }
    .footer footer .copyright span {
      font-size: 1.2em;
      font-weight: bold;
      color: #a0a3a9; }
  .footer footer p {
    color: #a0a3a9; }
    .footer footer p span {
      font-size: 1.2em;
      color: #00b1e4; }
      .footer footer p span:hover {
        cursor: pointer;
        color: white; }
  .footer .buttonUp {
    float: right; }
    .footer .buttonUp button {
      border-radius: 3px;
      height: 40px;
      width: 40px;
      color: white;
      background-color: #00b1e4;
      border: none; }
      .footer .buttonUp button:hover {
        background-color: #0c2e8a;
        cursor: pointer;
        -webkit-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease; }

.ourServices .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 2px;
  border: none;
  background-color: #00b1e4;
  width: 110px;
  margin: 0px 0px 30px 45%; }

.ourServices h1 {
  text-align: center;
  font-size: 2em;
  color: #071e33;
  margin: 3% 0px 1% 0px; }

.ourServices p {
  color: #555555;
  text-align: center; }

.ourServices .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .ourServices .wrap .marketing, .ourServices .wrap .consulting, .ourServices .wrap .strategy {
    border: 1px solid #DCDCDC;
    height: 300px;
    text-align: center;
    padding-top: 30px;
    margin: 30px; }
    .ourServices .wrap .marketing:hover, .ourServices .wrap .consulting:hover, .ourServices .wrap .strategy:hover {
      -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
      position: relative;
      -webkit-animation-name: transition-animation-in;
      animation-name: transition-animation-in;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s; }
      .ourServices .wrap .marketing:hover:before, .ourServices .wrap .consulting:hover:before, .ourServices .wrap .strategy:hover:before {
        -webkit-animation-name: transition-animation-out;
        animation-name: transition-animation-out;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s; }
  .ourServices .wrap h3 {
    padding: 15px 0px; }

.ourServices img {
  height: 90px;
  width: 125px; }

.inspire {
  background-image: url(../images/intro-carousel/1.jpg);
  height: 680px; }
  .inspire h1 {
    color: #071e33;
    font-size: 4em;
    padding-left: 13%;
    padding-top: 12%; }
  .inspire h3 {
    color: #555555;
    font-size: 1.5em;
    font-weight: 400;
    padding-left: 13%;
    margin-bottom: 2%; }
  .inspire #btn {
    margin-left: 13%;
    height: 45px;
    width: 160px;
    color: white;
    background-color: #00b1e4;
    font-weight: 500;
    font-size: 1.1em;
    border: none;
    border-radius: 5px; }
  .inspire #btn:hover {
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    -webkit-transition: color 0.5 ease;
    -o-transition: color 0.5 ease;
    transition: color 0.5 ease;
    background-color: #dff3fa;
    color: #00b1e4;
    border: 2px solid #00b1e4;
    cursor: pointer; }

.aboutUs {
  background-color: #00b1e4;
  padding: 2%;
  text-align: center;
  font-size: 1.2em; }
  .aboutUs h1 {
    color: white; }
  .aboutUs p {
    color: white; }

.container .ourTeam h1 {
  text-align: center;
  font-size: 2em;
  color: #071e33;
  margin: 3% 0px 1% 0px; }

.container .ourTeam .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 2px;
  border: none;
  background-color: #00b1e4;
  width: 110px;
  margin: 0px 0px 50px 45%; }

.container .ourTeam .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container .ourTeam .wrapper .wrap img {
    height: 250px;
    margin-left: 25px; }
  .container .ourTeam .wrapper .wrap h3 {
    color: #071e33;
    text-align: center; }
  .container .ourTeam .wrapper .wrap p {
    color: #071e33;
    font-style: italic;
    text-align: center; }
  .container .ourTeam .wrapper .wrap .socialMediaWrap {
    margin: 25px; }
    .container .ourTeam .wrapper .wrap .socialMediaWrap .socialMedia {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      list-style-type: none; }
      .container .ourTeam .wrapper .wrap .socialMediaWrap .socialMedia li {
        background-color: #f1f1f1;
        color: #00b1e4;
        height: 30px;
        width: 30px; }
        .container .ourTeam .wrapper .wrap .socialMediaWrap .socialMedia li:hover {
          -webkit-transition: color 0.5s ease;
          -o-transition: color 0.5s ease;
          transition: color 0.5s ease;
          color: #071e33;
          border: 1px solid #071e33;
          cursor: pointer; }
        .container .ourTeam .wrapper .wrap .socialMediaWrap .socialMedia li a {
          height: 30px;
          width: 30px; }
          .container .ourTeam .wrapper .wrap .socialMediaWrap .socialMedia li a i {
            margin: 25%; }

.services {
  background-color: #00b1e4;
  padding: 2%;
  text-align: center;
  font-size: 1.2em; }
  .services h1 {
    color: white; }
  .services p {
    color: white; }

.ourServicesServices {
  margin: 0 10%; }
  .ourServicesServices .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .ourServicesServices .wrapper .wrap {
      border: 1px solid #DCDCDC;
      height: 300px;
      text-align: center;
      padding-top: 30px;
      margin: 30px;
      width: 350px;
      color: #555555; }
      .ourServicesServices .wrapper .wrap h3 {
        padding: 15px;
        color: #555555; }
      .ourServicesServices .wrapper .wrap .icon {
        color: #00b1e4;
        font-size: 5em; }
      .ourServicesServices .wrapper .wrap:hover {
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        -webkit-animation-name: transition-animation-in;
        animation-name: transition-animation-in;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s; }
        .ourServicesServices .wrapper .wrap:hover:before {
          -webkit-animation-name: transition-animation-out;
          animation-name: transition-animation-out;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
          -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .row .column {
    width: 440px;
    height: 300px; }
    .row .column img.hover-shadow {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .row .column .hover-shadow:hover {
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black; }
  .modal .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px; }
    .modal .modal-content .mySlides {
      display: none; }
      .modal .modal-content .mySlides .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0; }
    .modal .modal-content .next,
    .modal .modal-content .prev {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      -webkit-transition: 0.6s ease;
      -o-transition: 0.6s ease;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-user-select: none; }
      .modal .modal-content .next:hover,
      .modal .modal-content .prev:hover {
        background-color: rgba(0, 0, 0, 0.8); }
    .modal .modal-content .next {
      right: 0;
      border-radius: 3px 0 0 3px; }
    .modal .modal-content .caption-container {
      text-align: center;
      background-color: black;
      padding: 2px 16px;
      color: white; }
    .modal .modal-content .column img.demo {
      opacity: 0.6; }
      .modal .modal-content .column img.demo:hover,
      .modal .modal-content .column img.demo .active {
        opacity: 1; }
  .modal .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold; }
    .modal .close:focus, .modal .close:hover {
      color: #999;
      text-decoration: none;
      cursor: pointer; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
