.clients{
  margin-bottom: 5%;
    h1{
      text-align: center;
      font-size: 2em;
      color: $darkBlue;
      margin: 3% 0px 1% 0px;
      display: flex;
      justify-content: center;
    }
  p{
    color: $dimGray;
    text-align: center;
  }
  img{
    margin-top: 50px;
    height: 30px;
    width: auto !important;
    margin-left: 50px;
    margin-right: 50px;
    &:hover{
      opacity: 1;
      cursor: pointer;
    }
  }
}

@include breakpoint(mobileonly){
  .clients{
    h1{
      margin-top: 10%;
      font-size: 4em;
    }
    p{
      font-size: 2em;
      margin-bottom: 4%;
    }
    margin-bottom: 15%;
  }
}

@include breakpoint(mobileonly){
  .clients-images{
    img{
      opacity: 1;
      margin-left: 20%;
      margin-bottom: 20%;
    }
  }
  .clients-images>div{
    flex: 1 0 50%;
  }
  .client-images>div:first-child{
    flex: 0 1 100%;
  }
}
