body{
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat", sans-serif;
}

.navBar{
  font-family: "Raleway", sans-serif;
}

.welcome{
  font-family: "Raleway", sans-serif;
}

.aboutUs{
  p{
    font-family: "Montserrat", sans-serif;
  }
}

.services{
  p{
    font-family: "Montserrat", sans-serif;
  }
}

.portfolio{
  p{
    font-family: "Montserrat", sans-serif;
  }
}


.contact{
  p{
    font-family: "Montserrat", sans-serif;
  }
}
