.footer {
  font-size: 0.8em;
  padding: 10px;
  text-align: center;
  background-color: $darkBlue;
  height: 100px;
  footer {
    .copyright {
      color: $gray;
      padding-top: 20px;
      span {
        font-size: 1.2em;
        font-weight: bold;
        color: $gray;
      }
    }

    p {
      color: $gray;

      span {
        font-size: 1.2em;
        color: $lightBlue;
        transition-duration: 0.5s;
        &:hover {
          cursor: pointer;
          color: white;
        }
      }
    }
  }
}
.buttonUp {
  position: fixed;
  bottom: 15px;
  right: 15px;
  button {
    border-radius: 3px;
    height: 40px;
    width: 40px;
    color: white;
    background-color: $lightBlue;
    border: none;
    transition-duration: 0.5s;
    &:hover {
      background-color: #0c2e8a;
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}
@include breakpoint(mobileonly){
  .footer{
    padding-top: 30px;
    font-size: 2em;
    height: 200px;
  }
}
