*{
  margin: 0px;
  padding: 0px;
}

.container{
  margin: 0% 20%;
}

.sticky {
  margin-top: -43px;
  position: fixed;
  min-height: 100px;
  z-index: 1;
}

.margin{
  margin-top: 100px;
}

.row{
  align-items: center;
  height: 2px;
  border: none;
  background-color: $lightBlue;
  width: 130px;
  margin-left: calc(50% - 65px);
  margin-bottom: 50px;
}

.scale:hover{
  transition-duration: 0.2s;
  transform: scale(1.3) !important;
  color: $lightBlue;
  cursor: pointer;
}

@media (min-width: 768px) and
       (-webkit-min-device-pixel-ratio: 2),
       (min-width: 768px) and
       (min-resolution: 192dpi) {
         .container{
           margin: 0% 3%;
         }
         .sticky{
           margin-top: -100px;
           position: fixed;
           min-height: 200px;
           z-index: 1;
           margin-left: -5%;
         }
         .row{
           width: 300px;
           margin-left: calc(50% - 150px);
         }
}
