.getOurService{
    background-color: $lightBlue;
    padding: 2% 20%;
    color: white;
    .wrapper{
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
    }
    h1{
      margin-bottom: 2%;
    }
    .wrap{
        #btn{
          margin-left: 13%;
          height: 45px;
          width: 160px;
          color: white;
          background-color: $lightBlue;
          font-weight: 600;
          font-size: 1.1em;
          border: 2px solid white;
          border-radius: 5px;
          transition-duration: 0.5s;
        }
        #btn:hover{
          transition: background-color 0.5s ease;
          transition: color 0.5 ease;
          background-color: white;
          color: $lightBlue;
          border: 2px solid white;
          cursor: pointer;
      }
    }
  }

  @include breakpoint(desktop){
    .getOurService{
      padding: 2% 15%;
    }
  }

  @include breakpoint(laptop){
    .getOurService{
      padding: 2% 10%;
    }
  }

  @include breakpoint(tablet){
    .getOurService{
      .wrapper{
        margin-left: -33%;
      }
    }
  }



  @include breakpoint(mobileonly){
    .getOurService{
      padding: 3.5% 5%;
      h1{
        font-size: 3em;
        padding-top: 2%;
        text-align: center;
        margin-bottom: 5%;
      }
      .wrapper{
        display: block;
        .wrap{
          #btn{
            -webkit-appearance: none;
            margin-left: calc(50% - 160px);
            height: 90px;
            width: 320px;
            font-size: 2em;
          }
          p{
            margin: 5% auto;
            text-align: center;
            font-size: 40px;
          }
          border-radius: 10px;
        }
      }
    }
  }
