#navBarWrapper {
  box-shadow: 0 50px 30px -30px gray;
  height: 100px;
  background-color: white;
  width: 100%;

  .navBar {
    padding-top: 30px;
    margin: 0 20%;
    background-color: white;
    display: flex;
    justify-content: space-between;

    .toggle {
      display: none;
      label {
        font-size: 100px;
        color: $lightBlue;
        float: right;
      }
    }

    .logo {
      a {
        text-decoration: none;
      }

      h1 {
        color: $lightBlue;
        font-size: 1.7em;

        span {
          color: $darkBlue;
          font-size: 0.9em;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    .elements {
      list-style-type: none;
      display: flex;
      font-size: 0.9em;

      .active {
        color: $lightBlue;
      }

      a {
        text-decoration: none;
        font-weight: bold;
        color: $dimGray;
        transition-duration: 0.5s;
      }

      a:hover {
        color: $lightBlue;
      }

      li {
        padding-top: 10px;
        padding-left: 25px;
      }
    }

    .dropdown {
      position: relative;
      margin-right: 10px;

      .dropbtn {
        background-color: white;
        color: $dimGray;
        border: none;
        font-weight: bold;
        font-size: 1em;
        cursor: pointer;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;

        a {
          font-size: 0.9em;
          color: $dimGray;
          padding: 12px 16px;
          text-decoration: none;
          display: block;

          &:hover {
            color: $lightBlue;
          }
        }
      }

      &:hover {
        .dropdown-content {
          display: block;
        }

        .dropbtn {
          transition: color 0.5s ease;
          background-color: white;
          color: $lightBlue;
        }
      }
    }
  }
}
@include phone() {
  #navBarWrapper {
    height: 200px;
    width: 100%;
    margin-left: 0;

    .navBar {
      .logo {
        font-size: 3em;
        margin: 2% 0 0 -20%;
      }
      .elements {
        display: none;
        width: 100%;
      }
      .toggle{
        display: block;
      }
      #toggle:checked + .elements{
        display: flex;
      }

    }
  }
}
