.container {
  .testimonials {
    h1 {
      text-align: center;
      font-size: 2em;
      color: $darkBlue;
      margin: 3% 0 1%;
      display: flex;
      justify-content: center;
    }

    .intro-text {
      color: $dimGray;
      text-align: center;
      padding-bottom: 3%;
    }

    .testimonials-slider {
      font-family: "Open Sans", sans-serif;
      font-size: 0.9em;

      .textbox {
        margin: 20px;
        height: 225px;
        width: 250px;

        .text {
          font-weight: 500;
          font-style: italic;
          padding: 40px 60px;
          background-color: $lightGray;
          color: $dimGray;
          border: 1px solid #dcdcdc;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
        }

        h3 {
          margin: 10px 0;
          text-align: center;
        }

        .title {
          text-align: center;
          color: $gray;
        }
      }
    }
    margin-bottom: 10%;
  }
}
@include breakpoint(mobileonly) {
  .container{
    .testimonials{
      h1{
        font-size: 4em;
      }
      p{
        font-size: 2em;
      }
      .testimonials-slider{
        font-size: 1.5em;
        .textbox{
          height: 100%;
          .title{
            font-size: 1.5em;
          }
          h3{
            font-size: 2em;
          }
          .text{
            font-size: 1.8em;
            padding: 60px 60px;
            text-align: center;
            margin: 0px 5% 3% 5%;

          }
        }
      }
      margin-bottom: 15%;
    }
  }
}
