.topBar{
  background-color: $darkBlue;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  height: 37px;
  font-size: 15px;
  padding: 3px 20%;
  i{
    color: $lightBlue;
    padding: 10px;
  }
  .left{
    .contactInfo{
      list-style-type: none;
      display: flex;
      li{
        color: $lightBlue;
        span{
          color: $gray;
          transition-duration: 0.5s;
        }
        span:hover{
          color: $lightBlue;
          cursor: pointer;
        }
      }
    }
  }
  .right{
    .fab{
      transition-duration: 0.5s;
    }
    .socialMedia{
      list-style-type: none;
      display: flex;
    }
    .fab:hover{
      color: white;
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}
