.aboutWelcome{
  margin: 4% 0px;
  .wrap{
    display: flex;
    justify-content: space-between;
    .rightText{
      p{
        font-size: 1.1em;
        color: black;
        strong{
          font-size: 1em;
        }
        padding-bottom: 25px;
      }
      .light{
        color: $dimGray;
      }
      .italicText{
        font-weight: lighter;
        font-style: italic;
        font-size: 1.14em;
        font-family: "Montserrat", sans-serif;
        color: $gray;
      }
      ul{
        list-style-type: none;
        li{
          margin: 5px;
          color: $dimGray;
          i{
            color: $lightBlue;
          }
        }
      }
    }
    .leftImage{
      img{
        height: 350px;
        width: 550px;
      }
    }
  }
  .welcomeText{
    padding-bottom: 3%;
    text-align: center;
    color: $dimGray;
  }
}

@include breakpoint(tablet){
  .aboutWelcome{
    .wrap{
      display: block;
      text-align: center;
    }
  }
}

@include breakpoint(mobileonly){
  .aboutWelcome{
    h1{
      font-size: 4em;
    }
    .wrap{
      display: block;
      .leftImage{
        text-align: center;
      }
      .rightText{
        font-size: 2em;
        text-align: center;
        i{
          margin-right: 30px;
        }
        p{
          display: none;
        }
      }
    }
    .welcomeText{
      font-size: 2em;
    }
    margin: 10% 0%;
  }
}
