.ourServicesServices {
  margin: 0 10%;

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .wrap {
      border: 1px solid #DCDCDC;
      height: 300px;
      text-align: center;
      padding-top: 30px;
      margin: 30px;
      width: 350px;
      color: $dimGray;

      h3 {
        padding: 15px;
        color: $dimGray;
      }

      .icon {
        color: $lightBlue;
        font-size: 5em;
      }

      &:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        animation-name: transition-animation-in;
        animation-fill-mode: forwards;
        animation-duration: 0.5s;

        &:before {
          animation-name: transition-animation-out;
          animation-fill-mode: forwards;
          animation-duration: 0.5s;
        }
      }
    }
  }
}
