.ourServices{
  h1{
    text-align: center;
    font-size: 2em;
    color: $darkBlue;
    margin: 3% 0px 1% 0px;
    display: flex;
    justify-content: center;
  }
  p{
    color: $dimGray;
    text-align: center;
  }
  .wrap{
    display: flex;
    justify-content: space-around;
    .marketing, .consulting, .strategy{
      border: 1px solid #DCDCDC;
      height: 300px;
      text-align: center;
      padding-top: 30px;
      margin: 30px;
      transition-duration: 0.5s;
      padding: 10px;
      &:hover{
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        transform: translateY(-15px);
        cursor: pointer;
      }
    }
      h3{
        padding: 15px 0px;
      }
    }
  img{
    height: 90px;
    width: 125px;
  }
}
@include phone(){
  .ourServices{
            background-color: #dff3fa;
    h1{
      font-size: 4em;
    }
    .wrap{
      display: block;
      margin-left: 15%;
      .marketing, .consulting, .strategy{
        border: 1px solid #DCDCDC;
        height: 300px;
        width: 70%;
        text-align: center;
        padding-top: 30px;
        margin: 50px;
        padding: 10px;
      }
    }
  }
}
